*{
    margin: 0;
    padding: 0;
  }

  .wallpaper{
    height: 100vh;
    width: 100%;
    background-color:rgb(82, 157, 218);
    position: relative;
  }

  h1, h2, h3, h4, h5, h6{
    color: rgb(0, 52, 77);
  }
  
  .button {
    background-color: #c0fff7; 
    border: 2px;
    color: rgb(0, 52, 77);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border: 2px solid rgb(0, 52, 77);
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
  }

  #Buttons{
    position: relative;
    top: 80%;
    width: 60%;
    margin: 0 auto;
    border: 2px solid rgb(0, 52, 77);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    background-color:transparent;
  }

  .Cont{
    font-size: 75px;
    font-family: fantasy;
    text-align: center;
  }