html
html
	head
	body
		form(action = "/",method = "post")
			div
				label(for="first") FirstName:
				input(name="first")
			br
			div
				label(for = "last") LastName:
				input(name="last" )
			br
			div
				label(for = "ufile") Add file:
				input(type = "file" name="ufile")
			br
			
			button(type="submit") Submit
			
			